body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(
      to left,
      rgba(230, 115, 70, 0.75),
      rgba(9, 40, 44, 0.5)
    ),
    url('./images/pexels-photo-4489719.jpeg') no-repeat center center/cover;
  overflow: hidden;
}

table {
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  width: 100vw;
  place-items: center;
  max-height: 800px;
  margin: 4px auto;
  padding: 15px;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  border: 1px solid black;
  width: 30vw;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #ebd1d1;
}
.companyName {
  cursor: pointer;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0.8rem;
}
button:hover {
  background-color: coral;
  transition: all 0.5s ease-in-out;
}
.backButton {
  display: grid;
  position: absolute;
  padding: 4px 6px;
  font-size: 1rem;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid black;
}
.backButton:hover {
  cursor: pointer;
  border-radius: 0.7rem;
  transition: all 0.5s linear;
  background-color: rgb(233, 76, 84);
}
.show-btn {
  display: none;
}
.companyName:hover {
  background-color: rgb(246, 250, 246);
  transition: all 0.8s linear;
}
.addToCenter {
  text-align: center;
}
.loading {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  padding-top: 5rem;
  z-index: 1;
}
.hideLoading {
  display: none;
}
.section {
  position: relative;
  min-height: 100vh;
  /* margin: 4rem; */
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-items: center;
}

.detailsDiv {
  display: grid;
  position: relative;
  margin: 2rem;
  border: 1px solid black;
  height: 45vh;
  max-width: 80vh;
  top: 10%;
  overflow: hidden;
  box-sizing: border-box;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.detailsDiv:hover .image {
  transition: all 2s linear;
  transform: scale(1.5);
}
.vehicleData {
  display: grid;
  position: relative;
  height: 35vh;
  max-width: 75vw;
  margin: 2rem;
  top: 10%;
  box-sizing: border-box;
}
.vehicleInformation {
  display: grid;
  height: 100%;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.list1 {
  display: grid;
  position: absolute;
  width: 25%;
  top: 35%;
  left: -2%;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}
.list2 {
  display: grid;
  position: absolute;
  font-weight: bold;
  font-style: italic;
  width: 50%;
  top: 35%;
  position: absolute;
  font-size: 1.25rem;
  left: 57%;
}
